@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;
@inject IAuthorizationService AuthorizationService

<div class="card">
    <div class="card-header">
        <h5>Projects</h5>
        <span>
            Tüm işlerin gösterildiği ve yeni iş oluşturulduğu sayfadır.
        </span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option text-right" style="width: 250px;">
                <li id="refresh" data-placement="left" data-toggle="tooltip" title="Yenile"><i class="fas fa-sync-alt"></i></li>
                <li id="addWork" data-placement="left" data-toggle="tooltip" title="Ekle"><i class="fas fa-plus"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block" style="height:calc(100% - 76px) !important;">
        <div id="grid" class="full-height">
            <!--- Datagrid -->
            <div id="gridContainer"></div>
            <div id="popup">
                <div data-options="dxTemplate: { name: 'template1' }" style="overflow-y:scroll">
                    <form asp-controller="Home" asp-action="Save_Project" method="post">
                        <div class="row">
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="dx-field-label flex-2">Proje Adı</div>
                                <div class="dx-field-value flex-10">
                                    <input type="text" name="WorkName" class="form-control">
                                </div>
                            </div>
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="dx-field-label flex-2">Açıklama</div>
                                <div class="dx-field-value flex-10">
                                    <textarea name="WorkDesc" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="dx-field-label flex-2">İlerleme</div>
                                <div class="dx-field-value flex-10">
                                    <input type="number" name="Progress" max="100" class="form-control" />
                                </div>
                            </div>
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="border-checkbox-group border-checkbox-group-primary">
                                    <input class="border-checkbox" type="checkbox" name="SyncProgress" id="checkbox1">
                                    <label class="border-checkbox-label" for="checkbox1">İlerleme Takibi</label>
                                </div>
                            </div>
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="dx-field-label flex-2">Kategori</div>
                                <div class="dx-field-value flex-10">
                                    <select name="Category" class="form-control form-control-default">
                                        <option selected>Kategori Seçiniz</option>
                                        <option value="0">Devam Etmekte</option>
                                        <option value="1">Tamamlandı</option>
                                        <option value="2">İptal Edildi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="dx-fieldset full-width d-flex flex-column">
                                <div class="dx-field d-flex flex-row"></div>
                                <div class="dx-field-label flex-2">Takım</div>
                                <div class="dx-field-value flex-10">
                                    <div id="listusers">enes</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="max-inline-size: none;">
                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            if (@ViewBag.process == 1) {
                Swal.fire({
                    html: '<span class="f-w-600">İşlem Başarılı</span>',
                    type: 'success',
                    width: 350,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    timer: 1500
                });
            } else if (@ViewBag.process == 2) {
                Swal.fire({
                    position: 'center',
                    type: 'error',
                    title: 'Hata',
                    html: '<span class="f-16">Silme işlemi sırasında hata oluştu.</span>',
                    showConfirmButton: true,
                    confirmButtonText: 'Tamam',
                    customClass: {
                        confirmButton: 'f-14 bg-inverse'
                    }
                });
            }

            $.post("@Url.Action("List_User", "Home")")
                .done(function (listUser) {
                    $("#listusers").dxTagBox({
                        dataSource: new DevExpress.data.ArrayStore({
                            data: listUser,
                            key: "userId"
                        }),
                        displayExpr: "userName",
                        valueExpr: "userId",
                    });
                });
        });

        list();
        var workList, popup = null;

        var category = [{
            "value": 0,
            "text": "Devam Etmekte"
        }, {
            "value": 1,
            "text": "Tamamlandı"
        }, {
            "value": 2,
            "text": "İptal Edildi"
        }];

        function list () {
            workList = $(function () {
                $.post("@Url.Action("List_Project", "Home")")
                    .done(function (list) {
                        $("#gridContainer").dxDataGrid({
                            dataSource: list,
                            keyExpr: "workId",
                            showBorders: true,
                            editing: {
                                useIcons: true,
                                allowDeleting: true,
                                texts: {
                                    confirmDeleteMessage: ""
                                },
                                allowUpdating: true,
                            },
                            paging: {
                                pageSize: 10
                            },
                            pager: {
                                allowedPageSizes: [5, 8, 15, 30],
                                showInfo: true,
                                showNavigationButtons: true,
                                showPageSizeSelector: true,
                                visible: true
                            },
                            columns: [{
                                dataField: "workName",
                                caption: "Proje Adı"
                            }, {
                                dataField: "workDesc",
                                caption: "Açıklama"
                            },
                            {
                                dataField: "users",
                                caption: "Takım"
                            },
                            {
                                dataField: "progress",
                                editorType: "dxNumberBox",
                                caption: "İlerleme"
                            },
                            {
                                dataField: "syncProgress",
                                editorType: "dxCheckBox",
                                caption: "İlerleme Takibi"
                            },
                            {
                                dataField: "category",
                                caption: "Kategori",
                                lookup: {
                                    dataSource: category,
                                    displayExpr: "text",
                                    valueExpr: "value"
                                }
                            }, {
                                type: "buttons",
                                width: 110,
                                buttons: ["edit", "delete"]
                            }],
                            onRowRemoving: function (e) {
                                e.cancel = Swal.fire({
                                    title: 'İşlem Onayı',
                                    html: '<span class="f-16">Silmek istediğinizden emin misiniz?</span>',
                                    type: 'question',
                                    allowOutsideClick: false,
                                    showCancelButton: true,
                                    confirmButtonText: 'Evet',
                                    cancelButtonText: 'Hayır',
                                    customClass: {
                                        confirmButton: 'f-14 bg-inverse',
                                        cancelButton: 'f-14 bg-default text-inverse'
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        return false;
                                    }
                                    else {
                                        return true;
                                    }
                                });
                            },
                            onRowRemoved: function (e) {
                                $.post("@Url.Action("Delete_Project", "Home")", e.data)
                                    .done(function (del) {
                                        if (del == true) {
                                            Swal.fire({
                                                html: '<span class="f-w-600">İşlem Başarılı</span>',
                                                type: 'success',
                                                width: 350,
                                                showConfirmButton: false,
                                                allowOutsideClick: false,
                                                timer: 1500
                                            });
                                        } else {
                                            Swal.fire({
                                                position: 'center',
                                                type: 'error',
                                                title: 'Hata',
                                                html: '<span class="f-16">Silme işlemi sırasında hata oluştu.</span>',
                                                showConfirmButton: true,
                                                confirmButtonText: 'Tamam',
                                                customClass: {
                                                    confirmButton: 'f-14 bg-inverse'
                                                }
                                            });
                                        }
                                    });

                            }
                        });
                    });
            });
        }
        $(document).ready(function () {
            $("#refresh").click(function () {
                list();
            });
            $("#addWork").click(function () {
                popup.show();
            });
        });

        $(function () {
            popup = $("#popup").dxPopup({
                width: '50%',
                height: '80%',
                showTitle: true,
                title: "Project Ekle",
                visible: false,
                dragEnabled: false,
                closeOnOutsideClick: true,
                contentTemplate: "template1"
            }).dxPopup("instance");
            popup.visible = false;
        });
    </script>
}